name: Deployment Exercise 1

on: push

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Lint
        run: npm run lint

      - name: Test Code
        run: npm run test

      - name: Build Code
        run: npm run build

      - name: Deploy Code
        run: echo "Deploying....."
